.station-tooltip {
  width: 210px;
  max-height: 250px;
  position: fixed;
  background-color: #323232;
  border-radius: 10px;
  padding: 10px;
  color: #ffffff;
  z-index: 999;
  transform: translateX(-50%);
}
